.PostCard {
  width: 250px;
  padding: 16px;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px;
  box-sizing: border-box;
  background: white;
  border-radius: 12px;
}


.PostCard:hover,
.PostCard:active {
  background-color: #eee;
}


.Author {
  margin: 16px 0;
  color: #ccc;
}

.PostCard h1 {
  font-size: 22px;
  color: #1a1a1a;
}
